<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/default/header::header(title='友情链接',keywords=null)"></div>
<body>
<article class="main-content post-page">
    <div id="post-content" class="post-content">
        <h3>博主信息</h3>
        <h3>基本信息</h3>
        <blockquote>
            <ul>
                <li><p>姓名：pdj</p></li>
                <li><p>性别：男</p></li>
                <li><p>爱好：研究代码的底层原理</p></li>
            </ul>
        </blockquote>
        <h3>联系信息</h3>
        <blockquote>
            <ul>
                <li><p>QQ：846504108</p></li>
                <li><p>邮箱：autumnpdj@163.com</p></li>
                <li><p>微信：ice15225919003</p></li>
            </ul>
        </blockquote>
        </div>
</article>
</body>
<div th:replace="themes/default/footer::footer"></div>
</html>